body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  text-decoration: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-link {
  margin-left: 40px;
}

footer a {
  color: rgb(65, 65, 65);
  margin: 20px 5px;
}

#supportHero input{
  padding: 10px 30px;
  width: 100%;
  font-size: 20px;
  border-radius: 10px;
  border: none;
}

#supportHero {
  background-color: rgba(0, 191, 255, 0.253);
}